html, body, h1, h2, h3, h4, p, a, img, div {
  padding: 0px;
  margin: 0px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.card {
	border: 2px solid black;
	flex-direction: column;
	justify-content: space-between;
}

.row	{
	justify-content: space-around;
}

.card img	{
	width: 100%;
}

.cardFooter 	{
	width: 100%;
	border: 1px solid red;
}

