extends layout

block content
  h1= title
  p Welcome to #{title}
      
  .row
    .col-xs.card
      img(src='pic.jpg')
      h4 Here is a lot of text it is a lot longer than the other box
      p.cardFooter Footer
    .col-xs.card
      img(src='pic.jpg')
      h4 Body
      p.cardFooter Footer
      
  br
      
  .row
    .col-xs.card
      img(src='pic.jpg')
      h4 Body
      p Footer
    .col-xs.card
      img(src='pic.jpg')
      h4 Body
      p Footer
    .col-xs.card
      img(src='pic.jpg')
      h4 Body
      p Footer
