extends layout

block content
  h1= title
  p Welcome to #{title}
      
  .row
    .card
      // img(src='pic.jpg')
      h1 Test
    .card
      // img(src='pic.jpg')
      h1 Test 2
    .card
      // img(src='pic.jpg')
      h1 Test 3
    .card
      // img(src='pic.jpg')
      h1 Test 3

  .row
    .card
      img(src='pic.jpg')
      h1 Test
    .card
      img(src='pic.jpg')
      h1 Test 2
    .card
      img(src='pic.jpg')
      h1 Test 3
    .card
      img(src='pic.jpg')
      h1 Test 3

      
