extends layout

block content
  h1= title
  p Welcome to #{title}
  .box2
    .one One
    .two Two
    .three Three
    
  .row
    .col-xs.boxExample
      h1 Cat
    .col-xs.boxExample
      h1 The devil went down to Georgia
    .col-xs.boxExample
      h1 Cat
    .col-xs.boxExample
      h1 He was looking for a soul to steal. He was in a bind because he didn't have much time'



