doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
